<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
   		<servlet>
         	<servlet-name>loginservelet</servlet-name>
         	<servlet-class>com.oop.loginservelet</servlet-class>
         
         </servlet>
         <servlet-mapping>
         	<servlet-name>loginservelet</servlet-name>
         	<url-pattern>/loginservelet</url-pattern>
         
         </servlet-mapping>
         
          <servlet>
         	<servlet-name>customeinsert</servlet-name>
         	<servlet-class>com.oop.customeinsert</servlet-class>
         
         </servlet>
         <servlet-mapping>
         	<servlet-name>customeinsert</servlet-name>
         	<url-pattern>/customeinsert</url-pattern>
         
         </servlet-mapping>
         
         <servlet>
         	<servlet-name>UpdateBillServlet</servlet-name>
         	<servlet-class>com.oop.UpdateBillServlet</servlet-class>
         
         </servlet>
         <servlet-mapping>
         	<servlet-name>UpdateBillServlet</servlet-name>
         	<url-pattern>/UpdateBillServlet</url-pattern>
         
         </servlet-mapping>
         
         <servlet>
         	<servlet-name>DelUserServlet</servlet-name>
         	<servlet-class>com.oop.DelUserServlet</servlet-class>
         
         </servlet>
         <servlet-mapping>
         	<servlet-name>DelUserServlet</servlet-name>
         	<url-pattern>/DelUserServlet</url-pattern>
         
         </servlet-mapping>
         
         
</web-app>